/* Base Css Start  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html {
	font-size: 62.5%;
}
body {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Oswald', sans-serif; */
	/* font-family: 'Martel Sans', sans-serif; */
	font-weight: normal;
	font-style: normal;
	margin: auto;
}
.fix {
    overflow: hidden;
}

p {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #000;
	margin-top: 0px;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2.8rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}

a {
	font-size: 1.6rem;
}
.img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

span, a {
    display: inline-block;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}
div[data-relative="yes"] {
	position: relative;
}
/* Base Css End */

/* offCanvasMenu css start */
.off-canvas-menu-wrap {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background: #fff;
	z-index: 99999999;
	transform: translateX(300px);
	transition: .5s;
}
.off-canvas-menu-wrap.active {
	transform: translateX(0);
}
.off-canvas-menu {
	padding-left: 20px;
	padding-top: 50px;
	padding-right: 20px;
}
.off-canvas-menu li {
	border-bottom: 1px solid #cabfbf66;
	margin-bottom: 7px;
	padding-bottom: 6px;
}
.off-canvas-menu li a {
	color: #403b3b;
	font-size: 14px;
	transition: .3s;
	position: relative;
}
.off-canvas-overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	opacity: 0;
	cursor: pointer;
	visibility: hidden;
	transition: .5s;
}
.off-canvas-overlay.active {
	opacity: .5;
	visibility: visible;
}
.cls-off-canvas-menu {
	position: absolute;
	top: 8px;
	left: 20px;
	color: #403b3b;
	font-size: 26px;
	cursor: pointer;
}
.toggle-bar i {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
}
.toggle-bar {
	display:none;
}
.off-canvas-menu-wrap a.sign-up {
	border-color: #007EFF;
	background: #007EFF;
	color: #fff;
	margin-top: 12px;
	width: 126px;
}
  .off-canvas-menu li:last-child {
	border-bottom: 0;
  }
/* offCanvasMenu menu css end */

/* Scroll to top btn css start */
.back-to-top {
	right: 30px;
	bottom: 0;
	color: #fff;
	display: block;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	width: 103px;
	height: 35px;
	opacity: 1;
	visibility: visible;
	z-index: 9999;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: .3s;
	margin-bottom: 85px;
}
.back-to-top.visible {
	opacity: 1;
	visibility: visible;
	bottom: 35px;
}
.back-to-top i {
	vertical-align: middle;
}
/* Scroll to top btn css start */


/* header css start  */
.hero-area {
	position: relative;
	padding-top: 135px;
	padding-bottom: 50px;
}
.hero-trans-bg {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 60%;
	width: 100%;
}
  .header-area {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 55;
	padding: 60px 0;
}

.main-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }
  .main-menu li a {
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	color: #FFFFFF;
	display: inline-block;
	transition: .3s;
  }
  .main-menu li:not(:first-child) {
	margin-left: 30px;
  }
  .logo {
	display: block;
  }
  .logo img {
	max-width: 280px;
  }
  a.sign-up {
	font-weight: 600 !important;
	font-size: 20px !important;
	border: 2px solid #fff;
	border-radius: 30px;
	height: 40px;
	width: 100px;
	line-height: 33px !important;
	text-align: center;
}
/* header css end */

/* hero-area css start  */

.hero-content-wrap h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 73px;
	margin-bottom: 30px;
}
  .hero-content-wrap h1 span {
	color: #007EFF;
  }
  .hero-content-wrap p {
	font-weight: normal;
	font-size: 26px;
	line-height: 40px;
	text-align: justify;
	color: #000000;
}
  .hero-content-wrap p strong {
	display: block;
}
.hero-img img {
	max-width: 105%;
	width: 100%;
	transform: translateX(100px);
}
  .hero-img {
	text-align: right;
  }
  .hero-content-wrap {
	padding-top: 70px;
}

.round-btn {
	background: #007EFF;
	width: 346px;
	height: 82px;
	font-weight: 800;
	font-size: 28px;
	line-height: 82px;
	color: #fff;
	text-align: center;
	border-radius: 60px;
	transition: .3s;
	border: 2px solid #007EFF;
  }
  .twin-hero-btn {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .twin-hero-btn a.round-btn {
	margin: 0 60px;
  }
  .round-btn:hover {
	color: #fff;
  }
  .top-play-btn {
	position: absolute;
	right: -115px;
	width: 133px;
	height: 133px;
	display: inline-block;
	z-index: 1;
	bottom: 110px;
}
  .top-play-btn img {
	max-width: ;
	width: 100%;
	height: 100%;
  }
  .hero-area .twin-hero-btn {
	margin-top: 80px;
}
/* hero-area css end */


/* service-area css start  */
.service-area {
	padding: 100px 0;
}
.sv-content h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 12px;
  }
  .sv-content p {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
  }
  .sv-content p i {
	vertical-align: middle;
	color: #007EFF;
  }
  .list-row {
	display: flex;
  }
  .sv-icon {
	flex: 0 0 80px;
	padding-top: 5px;
  }
  .sv-icon img {
	max-width: 50px;
  }
  .service-content-list .list-row:not(:last-child) {
	margin-bottom: 45px;
  }
  .service-sec-img img {
	max-width: 100%;
  }
  
.primary-title h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 10px;
  }
  .primary-title p {
	font-weight: normal;
	font-size: 27px;
	line-height: 33px;
	color: #4588FF;
  }
  .primary-title {
	text-align: center;
	margin-bottom: 85px;
  }
  .service-section {
	padding: 50px 0;
}
.service-sec-img img {
	transform: translateX(-95px);
}
/* service-area css end */





/* plan area css start  */

.plan-head {
	text-align: center;
  }
  .plan-head h4 {
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #1A8BFF;
	margin-bottom: 0;
  }
  .price {
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	color: #1A8BFF;
	margin-bottom: 9px;
  }
  .price span {
	font-weight: 500;
	font-size: 8px;
	line-height: 12px;
	color: #1A8BFF;
	display: block;
  }
  .star-wrap {
	margin-bottom: 13px;
  }
  .fea-list li {
	font-family: Martel Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 18px;
	color: #1A8BFF;
	position: relative;
	margin-bottom: 10px;
  }
  .single-plan-inner-wrap {
	background: #fff;
	box-shadow: 0 0 3px #ddd;
	border-radius: 5px;
	padding: 20px;
	transition: .3s;
	position: relative;
  }
  .single-plan-inner-wrap:hover {
	  box-shadow: none;
	 
  }
.single-plan-inner-wrap::before {
	width: 100%;
	height: 60%;
	background: #0400D7;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	transition: .3s ease-in;
  }
  .single-plan-wrap.active .single-plan-inner-wrap:before,
  .single-plan-inner-wrap:hover:before {
	  opacity: 1;
	  visibility: visible;
	  bottom: -20px;
	  left: -20px;
   }
  .single-plan-wrap {
	transition: .3s;
	padding: 0 5px;
}
  .box-btn {
	font-family: Dosis;
	font-style: normal;
	font-weight: 600;
	font-size: 15.8628px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000000;
	border-radius: 9px;
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
  }
  .box-btn:hover {
	background: #0400D7;
	color: #fff;
  }
  .box-btn img {
	margin-left: 14px;
  }
  .plan-body {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .plan-head svg {
	margin-bottom: 11px;
	height: ;
  }
  .plan-head {
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
  }
  .fea-list li::before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Pro';
	font-weight: bold;
	top: 0px;
	position: absolute;
	left: -17px;
  }
  
.single-plan-wrap.active .single-plan-inner-wrap,
.single-plan-wrap:hover .single-plan-inner-wrap {
	background: #007EFF;
  }
  .single-plan-wrap.active h4,
  .single-plan-wrap:hover h4 {
	color: #fff;
  }
  .single-plan-wrap.active p,
  .single-plan-wrap:hover p {
	color: #fff;
  }
  .single-plan-wrap.active ul li,
  .single-plan-wrap:hover ul li {
	color: #fff;
  }
  .single-plan-wrap.active .price,
  .single-plan-wrap:hover .price {
	color: #fff;
  }
  .single-plan-wrap.active .price span,
  .single-plan-wrap:hover .price span {
	color: #fff;
  }
  .single-plan-wrap {
	  cursor:pointer;
  }
  .single-plan-wrap:hover .plan-head svg path {
	fill: #fff;
  }
  .star-wrap span i {
	color: #1A8BFF;
}
.single-plan-wrap.active .star-wrap span i,
  .single-plan-wrap:hover .star-wrap span i {
	  color: #fff;
  } 

  .nav-link-wrap a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	color: #000;
	width: 300px;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 100px;
	transition: .3s;
  }
  .nav-link-wrap a.active {
	background: #4588FF;
	color: #fff;
  }
  .nav-link-wrap {
	background: #66B2FF;
	border-radius: 100px;
	max-width: 625px;
	margin: auto;
	margin-bottom: 55px;
	display: flex;
	justify-content: center;
	padding: 6px 10px;
  }
  .plan-area {
	padding: 40px 0;
}
/* plan area css end */



/* footer css start  */
.footer-area {
	background: #007EFF;
	position: relative;
	padding-top: 70px;
	margin-top: 375px;
}
.footer-top-shape {
	position: absolute;
	width: 100%;
	bottom: calc(100% - 1px);
	height: auto;
	max-width: 100%;
}
  .footer-content-wrap {
	text-align: center;
  }
  .ft-top-blk h3 {
	font-weight: normal;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	color: #FFFFFF;
  }
  .ft-top-blk p {
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
  }
  .ft-top-blk {
	position: relative;
	margin-bottom: 105px;
  }
  .ft-top-blk::after {
	width: 307px;
	width: ;
	height: 1px;
	background: #fff;
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0;
	right: 0;
	margin: auto;
  }
  .round-btn.style-2 {
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #FFFFFF;
	border-color: #fff;
  }
  .round-btn.style-2:hover {
	background: #fff;
	color: #007EFF;
}
  .ft-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 110px;
  }
  .ft-menu li a {
	font-weight: 600;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
  }
  .ft-menu li {
	position: relative;
  }
  .ft-menu li::before {
	content: "";
	width: 13px;
	height: 13px;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -30px;
	border-radius: 50%;
	display: inline-block;
  }
  .ft-menu li:not(:last-child) {
	margin-right: 100px;
  }
  .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .social-links li {
	margin: 0 20px;
  }
  .social-links li a {
	display: inline-block;
  }
  .social-links li a img {
	max-width: 100%;
  }
  .twin-hero-btn.in-ft {
	margin-bottom: 80px;
  }
  .copyright-text {
	border-top: 1px solid #FFFFFF;
	padding: 35px 0;
	margin-top: 60px;
  }
  .copyright-text p {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: rgba(228, 228, 228, 0.4);
  }
  
.footer-btm-right-trans-wrap {
	position: absolute;
	right: 0;
	bottom: 135px;
	z-index: 10;
	padding-right: 50px;
  }
  .look-logo {
	position: relative;
  }
  .look-content {
	position: absolute;
	right: 100%;
	height: 94px;
	width: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 11px;
	margin-right: 28px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}
.look-logo:hover .look-content {
	opacity: 1;
	visibility: visible;
}
  .look-lgo {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 102px;
	height: 94px;
  }
  .look-lgo img {
	max-width: 100%;
  }
  .look-content p {
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #007EFF;
	margin-right: 15px;
  }
  .look-content::after {
	position: absolute;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	content: "";
	left: 99.5%;
	bottom: 14px;
  }
  
.footer-content-wrap {
	position: relative;
	z-index: 1;
  }
  .map-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: -1;
  }
/* footer css end */


/* faq-demo-1 page css start  */
.header-area.style-2 {
	position: unset;
	background: linear-gradient(90.77deg, #006CFF 0.17%, rgba(72, 178, 240, 0.765) 99.87%);
  }
  .header-search-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 35px;
}

  .search-icon {
	background: transparent;
	padding: 0;
	border: 0;
  }
  .search-icon img {
	width: 28px;
  }
  .header-search-row h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 33px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0;
  }
.faq-area {
  padding: 60px 0;
}
.faq-content-wrapper p {
  font-size: 18px;
  margin-bottom: 15px;
}
/* faq-demo-1 page css end */


/* ct-popup css start  */
.in-touch-popup-wrap {
	background: #FFFFFF;
	max-width: 715px;
	margin: auto;
	box-shadow: 0 0 4px #ddd;
	border-radius: 3px;
	width: 100%;
}
  .pop-header {
	background: #F1F1F1;
	text-align: center;
	padding: 20px 0;
	position: relative;
  }
  .pop-header a img {
	max-width: 155px;
  }
  .pop-body {
	padding: 30px 50px;
  }
  .pop-body h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	color: #007EFF;
	text-align: center;
	margin-bottom: 30px;
  }
  .input-inside input,
  .input-inside textarea {
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	color: #9B9B9B;
	border: 0;
	border-bottom: 1px solid #707070;
	width: 100%;
	height: 30px;
  }
  .input-inside textarea {
	  height: 160px;
  }
  .input-inside {
	margin-bottom: 60px;
  }

  button[type="submit"].round-btn {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
	width: 260px;
	height: 72px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

  .cls-ct-popup {
	display: inline-block;
	width: 15px;
	position: absolute;
	cursor: pointer;
	right: 48px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
  }
/* ct-popup css end */

/*work-singup-area-css*/

.work-singup-area {
	position: relative;
	padding: 150px 0;
	z-index: 9;
}
.work-img {
	position: absolute;
	right: 160px;
}
.work-containt h2 {
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 20px;
  color: #007EFF;
}
.work-containt p {
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 25px;
}
.work-fl {
	display: flex;
	align-items: center;
	height: 500px;
}




/*aply-area-css*/


.aply-card {
	display: flex;
	background: #007EFF;
	height: 470px;
	align-items: center;
	position: relative;
	overflow: hidden;
	border-radius: 48px;
}
.card-right {
	width: 40%;
	position: relative;
	z-index: 9;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-right: 2px solid #fff;
}
.card-mid {
	width: 65%;
	padding: 0 22px;
}
.card-last {
	width: 15%;
	position: relative;
	height: 100%;
}
.dot-img {
	position: absolute;
	left: -130px;
}

.card-logo {
  padding-bottom: 70px;
}


.card-heading h2 {
  font-size: 31px;
  line-height: 38px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 400;
}
.mounth a {
	color: #DFDFDF;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	margin-right: 36px;
}
.card-mid p {
  margin: 0;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
}


.card-last h2 {
	font-size: 52px;
	color: #fff;
	transform: rotate(90deg) !important;
	margin: 0;
	position: absolute;
	top: 43%;
	left: -44px;
}
.line-log {
	position: relative;
	height: 100%;
}
.line-log img {
	position: absolute;
	right: 100px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.line-log::before {
	position: absolute;
	height: 100%;
	content: "";
	background-image: url(../img/nl-img.png);
	width: 6px;
	right: 112px;
}


.aply-card-area {
	padding-bottom: 200px;
}
.card-mid p a {
	font-size: 15px;
	line-height: 18px;
	color: #fff;
	font-family: "lato";
	font-weight: 400;
}

.card-mid p {
	margin: 0;
	font-size: 18px;
	color: #fff;
	line-height: 26px;
	text-align: justify;
}
.service-2 .service-sec-img {
	height: 100%;
}
.service-2 .service-sec-img img {
	transform: translateX(95px);
	height: 100%;
}

.card-heading h2 span {
	position: relative;
}
.card-dot {
	display: flex;
	align-items: center;
	position: absolute;
	right: -34%;
	top: 65%;
}
.card-dot span {
  background: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 4px;
}
.line {
  width: 65px !important;
  border-radius: 0 !important;
  height: 2px !important;
}

.mounth {
	display: flex;
	align-items: center;
}

.card-dot.po-n {
	position: static;
}


/* testimonial-area css start  */

.rectangle-blk {
	height: 400px;
	width: 100%;
	position: relative;
  }
  .testimonial-content-wrap {
	background-size: contain;
	background-position: center;
}
  .tes-item {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
  }
  .tes-item:hover .hover-content {
	opacity: 1;
	visibility: visible;
}
  .tes-item > img {
	max-width: 92px;
	width: 100%;
  }
  .hover-content {
	position: absolute;
	top: -91px;
	width: 142px;
	right: -121px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}
  .hover-content p {
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	padding-bottom: 13px;
	transition: .3s;
  }

  .tes-item.two {
	left: auto;
	right: 422px;
	top: -26px;
  }
  
.tes-item.three {
	left: 385px;
	top: 145px;
  }
  .tes-item.four {
	top: auto;
	bottom: 50px;
	left: 100px;
  }
  .tes-item.five {
	bottom: 38px;
	left: 460px;
	top: auto;
  }
  .tes-item.six {
	left: 700px;
	top: auto;
	bottom: 40px;
  }
  .tes-item.seven {
	position: absolute;
	right: 60px;
	left: auto;
	top: 150px;
  }
  .tes-item.seven .hover-content {
	left: 0;
	top: -113px;
  }
  .testimonial-area {
	padding: 50px 0;
	padding-bottom: 140px;
}

.dott {
	background: #FF7C40;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 17.30px;
	height: 17.32px;
	border-radius: 50%;
	position: absolute;
  }
  .dott.one {
	top: 0;
	left: 250px;
  }
  .dott.two {
	background: #38CBAA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	left: 527px;
	top: 0;
  }
  .dott.three {
	background: #FF2FCC;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	right: 65px;
	top: -25px;
  }
  .dott.four {
	background: #1CE5FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	right: 367px;
	top: 115px;
  }
  .dott.five {
	background: #001D59;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	left: 35px;
	bottom: 181px;
  }
  .dott.six {
	background: #7F503D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	bottom: 9px;
	left: 260px;
  }
  .dott.seven {
	background: #FAA821;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	bottom: 11px;
	right: 430px;
  }
  .dott.eight {
	background: #FF3B3B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	right: 65px;
	bottom: 20px;
  }
  .dott.nine {
	background: #001D59;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	bottom: 196px;
	right: 209px;
  }
  .dott.ten {
	background: #0A93E7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	left: 350px;
	bottom: 140px;
  }
  
.testi-item {
	text-align: center;
  }
  .testi-img {
	text-align: center;
  }
  .testi-img img {
	max-width: 86px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  }
  .testi-item p {
	font-size: 12px;
	line-height: 19px;
  }
  
.slick-dots li {
	display: inline-block;
  }
  .slick-dots li button {
	background: ;
	font-size: 0px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	border: 0;
	background: #ddd;
	margin: 0 2px;
	transition: .3s;
  }
  .slick-dots {
	text-align: center;
	margin-top: 20px;
  }
  .slick-dots li.slick-active button {
	background: #007EFF;
  }
/* testimonial-area css end */


/* blog page css start  */

.single-blog {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
  }
  .single-blog h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	color: #000000;
  }
  .blg-dt {
	color: #B8B8B8;
	font-size: 15px;
  }
  .blg-img img {
	max-width: 100%;
	width: 100%;
  }
  .blg-img {
	margin-top: 15px;
	margin-bottom: 15px;
  }
  .single-blog p {
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
	text-align: justify;
	color: #000000;
	font-family: Montserrat;
  }
  .single-blog p a {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	font-family: ;
  }
  .blg-writter {
	border-top: 0.5px solid #D9D9D9;
	padding: 15px 20px;
	display: flex;
	align-items: center;
  }
  .wri-img img {
	max-width: 34px;
	margin-right: 10px;
}
  .blg-writter h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 12px;
	color: #1F84FC;
}
  .blg-writter p {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	color: #999999;
}
  .bk-top-content {
	padding: 20px;
}
.single-blog {
	margin-bottom: 45px;
}

.secondary-nav {
	display: flex;
	align-items: center;
  }
  .secondary-nav li a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	color: #B8B8B8;
	display: inline-block;
  }
  .secondary-nav li.active a {
	color: #007EFF;
  }
  .secondary-nav li:not(:last-child) {
	margin-right: 25px;
  }
  .secondary-nav-area {
	background: #F5F5F5;
	padding: 50px 0;
  }
  .blog-area {
	padding-top: 75px;
	padding-bottom: 170px;
  }
/* blog page css end */


















